@font-face {
  font-family: "DroidSerif";
  src: url(/assets/fonts/DroidSerif.woff) format("woff");
}

:root {
  --md-text-font: "DroidSerif"; 
  --md-code-font: "DroidSerif";
}

.md-grid {
  max-width: 65rem;
}

.md-typeset table:not([class]) th {
  min-width: 0rem;
 }

.md-typeset table:not([class]) {
	font-size: 0.75rem;
}

.unitCard {
	background-color: #E0E0E0;
	border-radius: 1rem;
	padding: 0.5rem 2rem 0.5rem 2rem;  
}

.unitCard h2,
.unitCard h3 {
	background-color: #303030;
	border-radius: 0.5rem;
  	color: #fff;
	padding: 0.5rem 0.5rem 0.5rem 1rem;  
  	text-align: center;
}

.unitCard h4 {	
  	text-align: center;
}

.unitCard table:not([class]) {
	font-size: 0.8rem;
	padding: 0.25rem 0.5rem 0.25rem 0.5rem; 
}

.unitCard table:not([class]) td,
.unitCard table:not([class]) th {
	padding: 0.5rem
}